USE [master]
GO
/****** Object:  Database [Flights]    Script Date: 3/27/2026 8:51:07 PM ******/
CREATE DATABASE [Flights]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Flights', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Flights.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Flights_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Flights_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Flights].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Flights]
GO
/****** Object:  User [Oleg_CheckIn]    Script Date: 3/27/2026 8:51:07 PM ******/
CREATE USER [Oleg_CheckIn] FOR LOGIN [Oleg_CheckIn] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [Maria_Info]    Script Date: 3/27/2026 8:51:07 PM ******/
CREATE USER [Maria_Info] FOR LOGIN [Maria_Info] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [Boss_Airline]    Script Date: 3/27/2026 8:51:07 PM ******/
CREATE USER [Boss_Airline] FOR LOGIN [Boss_Airline] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [InfoDesk_Agent]    Script Date: 3/27/2026 8:51:07 PM ******/
CREATE ROLE [InfoDesk_Agent]
GO
/****** Object:  DatabaseRole [Airport_Staff]    Script Date: 3/27/2026 8:51:07 PM ******/
CREATE ROLE [Airport_Staff]
GO
/****** Object:  DatabaseRole [Airline_Internal_Staff]    Script Date: 3/27/2026 8:51:07 PM ******/
CREATE ROLE [Airline_Internal_Staff]
GO
ALTER ROLE [Airport_Staff] ADD MEMBER [Oleg_CheckIn]
GO
ALTER ROLE [InfoDesk_Agent] ADD MEMBER [Maria_Info]
GO
ALTER ROLE [Airline_Internal_Staff] ADD MEMBER [Boss_Airline]
GO
/****** Object:  Schema [production]    Script Date: 3/27/2026 8:51:08 PM ******/
CREATE SCHEMA [production]
GO
/****** Object:  Schema [sales]    Script Date: 3/27/2026 8:51:08 PM ******/
CREATE SCHEMA [sales]
GO
/****** Object:  Table [dbo].[Flights]    Script Date: 3/27/2026 8:51:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Flights](
	[FlightID] [int] IDENTITY(1,1) NOT NULL,
	[RouteID] [int] NOT NULL,
	[AirlineID] [int] NOT NULL,
	[AircraftID] [int] NOT NULL,
	[DepartureTime] [datetime] NOT NULL,
	[ArrivalTime] [datetime] NOT NULL,
	[DurationMinutes] [int] NOT NULL,
	[FlightCode] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[FlightID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Airports]    Script Date: 3/27/2026 8:51:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Airports](
	[AirportID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [char](3) NULL,
	[AirportName] [varchar](150) NOT NULL,
	[CityID] [int] NOT NULL,
	[Latitude] [decimal](9, 6) NULL,
	[Longitude] [decimal](9, 6) NULL,
PRIMARY KEY CLUSTERED 
(
	[AirportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Airlines]    Script Date: 3/27/2026 8:51:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Airlines](
	[AirlineID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](150) NOT NULL,
	[CountryID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AirlineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Aircraft]    Script Date: 3/27/2026 8:51:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Aircraft](
	[AircraftID] [int] IDENTITY(1,1) NOT NULL,
	[Model] [varchar](100) NOT NULL,
	[Capacity] [int] NOT NULL,
	[AirlineID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AircraftID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Routes]    Script Date: 3/27/2026 8:51:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Routes](
	[RouteID] [int] IDENTITY(1,1) NOT NULL,
	[SourceAirportID] [int] NOT NULL,
	[DestinationAirportID] [int] NOT NULL,
	[BaseDistanceKM] [int] NOT NULL,
	[Cost] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RouteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_FlightBoard]    Script Date: 3/27/2026 8:51:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[View_FlightBoard] AS
SELECT 
    F.FlightID,
    AL.Name AS Airline,
    A.Model AS Aircraft,
    DepAir.Code AS FromAirport,
    ArrAir.Code AS ToAirport,
    F.DepartureTime,
    F.ArrivalTime,
    R.Cost AS TicketPrice
FROM [Flights].[dbo].[Flights] F
LEFT JOIN [Flights].[dbo].[Routes] R ON F.RouteID = R.RouteID
LEFT JOIN [Flights].[dbo].[Airlines] AL ON F.AirlineID = AL.AirlineID
LEFT JOIN [Flights].[dbo].[Aircraft] A ON F.AircraftID = A.AircraftID
LEFT JOIN [Flights].[dbo].[Airports] DepAir ON R.SourceAirportID = DepAir.AirportID
LEFT JOIN [Flights].[dbo].[Airports] ArrAir ON R.DestinationAirportID = ArrAir.AirportID;
GO
/****** Object:  Table [dbo].[Passengers]    Script Date: 3/27/2026 8:51:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Passengers](
	[PassengerID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](100) NULL,
	[LastName] [varchar](100) NULL,
	[PassportNumber] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PassengerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[PassportNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tickets]    Script Date: 3/27/2026 8:51:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tickets](
	[TicketID] [int] IDENTITY(1,1) NOT NULL,
	[PassengerID] [int] NOT NULL,
	[FlightID] [int] NOT NULL,
	[SeatNumber] [varchar](5) NULL,
	[BookingDate] [date] NULL,
	[TicketStatus] [varchar](50) NULL,
	[Class] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[TicketID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_PassengerManifest]    Script Date: 3/27/2026 8:51:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[View_PassengerManifest] AS
SELECT 
    T.TicketID,
    T.FlightID,
    P.FirstName + ' ' + P.LastName AS FullName,
    P.PassportNumber,
    T.SeatNumber,
    T.Class,
    T.TicketStatus
FROM [Flights].[dbo].[Tickets] T
JOIN [Flights].[dbo].[Passengers] P ON T.PassengerID = P.PassengerID;
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 3/27/2026 8:51:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[CityID] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [nvarchar](100) NOT NULL,
	[CountryID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [unique_city_name] UNIQUE NONCLUSTERED 
(
	[CityName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_RouteProfit]    Script Date: 3/27/2026 8:51:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[View_RouteProfit] AS
SELECT 
    R.RouteID,
    DepCity.CityName + ' - ' + ArrCity.CityName AS RouteName,
    COUNT(T.TicketID) AS TotalTicketsSold,
    SUM(CASE WHEN T.TicketStatus = 'Completed' THEN R.Cost ELSE 0 END) AS TotalRevenue
FROM [Flights].[dbo].[Routes] R
JOIN [Flights].[dbo].[Airports] DepAir ON R.SourceAirportID = DepAir.AirportID
JOIN [Flights].[dbo].[Cities] DepCity ON DepAir.CityID = DepCity.CityID
JOIN [Flights].[dbo].[Airports] ArrAir ON R.DestinationAirportID = ArrAir.AirportID
JOIN [Flights].[dbo].[Cities] ArrCity ON ArrAir.CityID = ArrCity.CityID
LEFT JOIN [Flights].[dbo].[Flights] F ON R.RouteID = F.RouteID
LEFT JOIN [Flights].[dbo].[Tickets] T ON F.FlightID = T.FlightID
GROUP BY R.RouteID, DepCity.CityName, ArrCity.CityName;
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 3/27/2026 8:51:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[CountryID] [int] IDENTITY(1,1) NOT NULL,
	[CountryName] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [unique_country_name] UNIQUE NONCLUSTERED 
(
	[CountryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CountryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TicketAuditLog]    Script Date: 3/27/2026 8:51:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TicketAuditLog](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[TicketID] [int] NULL,
	[OldStatus] [nvarchar](50) NULL,
	[NewStatus] [nvarchar](50) NULL,
	[ChangeDate] [datetime] NULL,
	[ChangedBy] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Flights_AircraftID]    Script Date: 3/27/2026 8:51:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_Flights_AircraftID] ON [dbo].[Flights]
(
	[AircraftID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Flights_AirlineID]    Script Date: 3/27/2026 8:51:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_Flights_AirlineID] ON [dbo].[Flights]
(
	[AirlineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Flights_RouteID]    Script Date: 3/27/2026 8:51:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_Flights_RouteID] ON [dbo].[Flights]
(
	[RouteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Routes_DestAirport]    Script Date: 3/27/2026 8:51:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_Routes_DestAirport] ON [dbo].[Routes]
(
	[DestinationAirportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Routes_SourceAirport]    Script Date: 3/27/2026 8:51:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_Routes_SourceAirport] ON [dbo].[Routes]
(
	[SourceAirportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tickets_FlightID]    Script Date: 3/27/2026 8:51:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_Tickets_FlightID] ON [dbo].[Tickets]
(
	[FlightID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Tickets_Status_Date]    Script Date: 3/27/2026 8:51:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_Tickets_Status_Date] ON [dbo].[Tickets]
(
	[TicketStatus] ASC,
	[BookingDate] ASC
)
INCLUDE([SeatNumber],[Class]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Routes] ADD  DEFAULT ((0)) FOR [Cost]
GO
ALTER TABLE [dbo].[TicketAuditLog] ADD  DEFAULT (getdate()) FOR [ChangeDate]
GO
ALTER TABLE [dbo].[TicketAuditLog] ADD  DEFAULT (user_name()) FOR [ChangedBy]
GO
ALTER TABLE [dbo].[Tickets] ADD  DEFAULT ('Economy') FOR [Class]
GO
ALTER TABLE [dbo].[Aircraft]  WITH CHECK ADD FOREIGN KEY([AirlineID])
REFERENCES [dbo].[Airlines] ([AirlineID])
GO
ALTER TABLE [dbo].[Airlines]  WITH CHECK ADD FOREIGN KEY([CountryID])
REFERENCES [dbo].[Countries] ([CountryID])
GO
ALTER TABLE [dbo].[Airports]  WITH CHECK ADD FOREIGN KEY([CityID])
REFERENCES [dbo].[Cities] ([CityID])
GO
ALTER TABLE [dbo].[Cities]  WITH CHECK ADD FOREIGN KEY([CountryID])
REFERENCES [dbo].[Countries] ([CountryID])
GO
ALTER TABLE [dbo].[Flights]  WITH CHECK ADD FOREIGN KEY([AircraftID])
REFERENCES [dbo].[Aircraft] ([AircraftID])
GO
ALTER TABLE [dbo].[Flights]  WITH CHECK ADD FOREIGN KEY([AirlineID])
REFERENCES [dbo].[Airlines] ([AirlineID])
GO
ALTER TABLE [dbo].[Flights]  WITH CHECK ADD FOREIGN KEY([RouteID])
REFERENCES [dbo].[Routes] ([RouteID])
GO
ALTER TABLE [dbo].[Routes]  WITH CHECK ADD FOREIGN KEY([DestinationAirportID])
REFERENCES [dbo].[Airports] ([AirportID])
GO
ALTER TABLE [dbo].[Routes]  WITH CHECK ADD FOREIGN KEY([SourceAirportID])
REFERENCES [dbo].[Airports] ([AirportID])
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [FK_Tickets_Flight] FOREIGN KEY([FlightID])
REFERENCES [dbo].[Flights] ([FlightID])
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [FK_Tickets_Flight]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [FK_Tickets_Flights] FOREIGN KEY([FlightID])
REFERENCES [dbo].[Flights] ([FlightID])
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [FK_Tickets_Flights]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [FK_Tickets_Passenger] FOREIGN KEY([PassengerID])
REFERENCES [dbo].[Passengers] ([PassengerID])
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [FK_Tickets_Passenger]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [FK_Tickets_Passengers] FOREIGN KEY([PassengerID])
REFERENCES [dbo].[Passengers] ([PassengerID])
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [FK_Tickets_Passengers]
GO
ALTER TABLE [dbo].[Routes]  WITH CHECK ADD  CONSTRAINT [CHK_NoSelfRoute] CHECK  (([SourceAirportID]<>[DestinationAirportID]))
GO
ALTER TABLE [dbo].[Routes] CHECK CONSTRAINT [CHK_NoSelfRoute]
GO
/****** Object:  StoredProcedure [dbo].[sp_BookFlight]    Script Date: 3/27/2026 8:51:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_BookFlight]
    @Passport NVARCHAR(20),
    @FlightNumber INT,
    @Seat NVARCHAR(10),
    @Class NVARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @PassID INT;

  
    SELECT @PassID = PassengerID FROM [Flights].[dbo].[Passengers] WHERE PassportNumber = @Passport;

    IF @PassID IS NULL
    BEGIN
        RAISERROR('Error: Passenger with this passport not found.', 16, 1);
        RETURN;
    END

    BEGIN TRY
        INSERT INTO [Flights].[dbo].[Tickets] (PassengerID, FlightID, SeatNumber, BookingDate, TicketStatus, Class)
        VALUES (@PassID, @FlightNumber, @Seat, GETDATE(), 'Booked', @Class);
        
        PRINT 'Success: Ticket booked for ' + @Passport;
    END TRY
    BEGIN CATCH
        SELECT ERROR_MESSAGE() AS ErrorMessage;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_FindFlightsByCities]    Script Date: 3/27/2026 8:51:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_FindFlightsByCities]
    @FromCity NVARCHAR(100),
    @ToCity NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        F.FlightID,
        AL.Name AS Airline,
        F.DepartureTime,
        F.ArrivalTime,
        R.Cost
    FROM [Flights].[dbo].[Flights] F
    JOIN [Flights].[dbo].[Routes] R ON F.RouteID = R.RouteID
    JOIN [Flights].[dbo].[Airlines] AL ON F.AirlineID = AL.AirlineID
    JOIN [Flights].[dbo].[Airports] DepA ON R.SourceAirportID = DepA.AirportID
    JOIN [Flights].[dbo].[Cities] DepC ON DepA.CityID = DepC.CityID
    JOIN [Flights].[dbo].[Airports] ArrA ON R.DestinationAirportID = ArrA.AirportID
    JOIN [Flights].[dbo].[Cities] ArrC ON ArrA.CityID = ArrC.CityID
    WHERE DepC.CityName = @FromCity AND ArrC.CityName = @ToCity
    AND F.DepartureTime > GETDATE();
END;
GO
EXEC sys.sp_addextendedproperty @name=N'CityName', @value=N'Unique' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Cities', @level2type=N'COLUMN',@level2name=N'CityName'
GO
EXEC sys.sp_addextendedproperty @name=N'CountryName ', @value=N'Unique' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Countries'
GO
USE [master]
GO
